@import './vars.scss';

.questions {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 550px;
  min-width: 1000px;
  flex-wrap: wrap;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: top right;

  &__blob{
    &-yellow {
      position: absolute;
      top:0;
      right: 0;
    }
    &-purple {
      position: absolute;
      bottom:0;
      left: 0;
    }
  }
}