@import '../styles/vars.scss';

.trivia {
  padding: 45px 75px;
  min-height: 550px;

  &__btn {
    margin-right: 12px;
    height: 20.65px;
    padding: 0 15px;
    font-family: 'Inter', sans-serif;
    font-size: 10.24px;
    font-weight: 500;
    border: 1px solid $btn;
    border-radius: 7.94px;
    color: $text-color;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__selected {
    background-color: $selected;
  }

  &__title {
    color: $text-color;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
}