@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@400;700&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Karla', sans-serif;

@mixin centered-text {
  flex: 0 0 100%;
  text-align:center;
}

$sm-viewport: "only screen and (max-width : 1599px)";

$btn: #4D5B9E;
$correct: #94D7A2;
$divider: #DBDEF0;
$incorrect: #F8BCBC;
$selected: #D6DBF5;
$text-color: #293264;
$white: #F5F7FB;
